
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    color:white;
    font-size:max(8px,min(2vw,10px));
}
body{
    background-image: url('tintin.jpg');
    background-size: cover;
    background-position: no-repeat;
    background-attachment: fixed;
}
body{
    font-family:'Kaisei Decol',sans-serif ;
}

body {
    margin: 0;
    padding: 0;
    text-align:center;
}
table {
    margin: 10px auto;   
}
td{
    text-align: center;
}
.vacant {
    background: blue;
    color: white;
    font-weight: bold;
}
.occupied{
    background: red;
    color: white;
    font-weight: bold;
}
h1{
    font-size: 700%;
}

tr{
    font-size: 150%;
}

.image-button-text {
    display: none; /* テキストを非表示にする */
}

/* 他のスタイルがここに含まれていると仮定します */

button {
    font-family: 'Kaisei Decol', sans-serif;
    font-size: 4.1rem; /* フォントサイズを指定 */
    background-color: #4CAF50; /* 背景色 */
    color: white; /* テキスト色 */
    padding: 1rem 2rem; /* 内側の余白 */
    border: none; /* 枠線を消す */
    border-radius: 5rem; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに */
}

button:hover {
    background-color: #45a049; /* ホバー時の背景色 */
}
@media (max-width: 768px){
    tr{
        font-size: 300%;
    }
    h2{
        font-size:230%;
    }
    button{
        font-size: 250%;
    }
}